<div class="container">
  <nav class="navbar navbar-default" style="margin-top: 20px;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">NipponWeatherSightseeingMap</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" target="_blank"><i class="fa fa-github"></i>&nbsp;View Source Code</a></li>
          <li><a href="https://twitter.com/keisei_1092" target="_blank"><i class="fa fa-twitter"></i>&nbsp;@keisei_1092</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <p>週末の天気が雪の地域の観光情報を表示しています</p>
  <% @data.each do |data| %>
    <div class="page-header">
      <h2>
        <i class="fa fa-sun-o text-danger"></i>&nbsp;<%= data["area"] %>
      </h2>
    </div>
    <% (0..9).each do |i| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="<%= data["info"]["link"][i] %>" target="_blank"><%= data["info"]["title"][i] %></a></h3>
        </div>
        <style>
	  .panel-body img {
	    margin-right: 15px;
	  }
        </style>
        <div class="panel-body">
          <%= data["info"]["description"][i].html_safe %>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <p class="text-center">
    &copy; 2015 keisei
  </p>
</div>
